body {
    background-color: #2e3141;
    /* background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg"); */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/bg-pattern.jpg");
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    background-position: center, center;
}

#banner {
    position: relative;
    height: 70vh;
    padding: 0;
    /* background-image: linear-gradient(90deg, rgba(120, 100, 84, 1) 50%, rgba(30, 92, 153, 1) 50%), url("../../images/bgTR.png"); */
    background-image: url("../../images/bg-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

}

#banner img {
    width: 445px;
    height: 506px;
    margin-left: 84px;
    margin-top: 131px;
}

.logo-small {
    height: 3.5em;
    width: 61px;
    margin: auto 0;
    display: inline-block;
    background-image: url("../../images/logoSmall.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

header.alt .logo-small {
    display: none;
}

section#massage {
    margin-top: 0;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
    text-align: left;
}

.wrapper.spotlight.style2 {
    background-color: #786454;
}

.wrapper.spotlight.style2:before, .wrapper.spotlight.style2:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23786454%3B' /%3E%3C/svg%3E");
    box-shadow: inset 0 -1px 0 0 #786454, 0 1px 0 0 #786454;
}

.content p {
    margin: 0 0 1em 0;
}

.content ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 1em 0;
}

.content ul li {
    padding: 0;
}

@media (max-width: 850px) {
    #banner {
        height: 50vh;
    }

    #banner img {
        width: 323px;
        height: 353px;
        margin-left: 62px;
        margin-top: 85px;
    }
} 

@media (max-width: 736px) {
    #banner {
        height: 40vh;
    }

    #banner img {
        margin-top: 55px;
    }

    .logo-small {
        height: 2.75em;;
    }
}

@media (max-width: 480px) {
    .wrapper.spotlight:nth-child(2n - 1) .inner {
        text-align: right;
    }

    #banner {
        height: 50vh;
    }

    #banner img {
        width: 223px;
        height: 253px;
        margin-left: 45px;
    }
}